header{
    background: red;
}

main{
    display: block;
}

section{
    display: block;
    background: blueviolet;
    width: 250px;
   
}


.products-list{
    background: rgb(153, 112, 51);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
}


.item-cart{
    background: rgb(80, 226, 43);
    margin: 10px 10px;
}

article{
    width: 300px;
    background: red;
    margin: 20px 20px;
}